<!DOCTYPE html>
<html>
  <head>
    <title>RailsFrame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'false' %>
  </head>

  <body>
    <%= link_to "홈으로", root_path %>
    <% if user_signed_in? %>
      <%= link_to "정보수정", edit_user_registration_path %>
      <%= link_to "로그아웃", destroy_user_session_path, method: :destroy %>
    <% else %>
      <%= link_to "로그인", new_user_session_path %>
      <%= link_to "회원가입", new_user_registration_path %>
    <% end %>

    <%= yield %>
    <%= any_login_here if defined?(AnyLogin) %>
    <%# flash.each do |message_type, message| %>
      <!-- <script type="text/javascript">
        var message = "<%#= message %>"
        toastr.info(message);
      </script> -->
    <%# end %>
    <% if user_signed_in? %>
      <script type="text/javascript">
        var currentUser = <%= raw current_user.to_json(:only => [:name]) %>
      </script>
    <% end %>
  </body>
</html>
